/*Stylesheet for the index file and html file*/

/* For the body and html */

html,
body {
    margin: 0;
    padding: 0;
}

/* Styling for the heading which includes the title as well */

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("ImagesForBackground/hero-partners.jpg");
    min-height: 900px;
    padding-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.titleCard{
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,0.19108893557422968) 0%, rgba(9,9,121,0.3227415966386554) 100%);
    text-align: center;
    padding:10px;
}

.titleCard h2{
    color: white;
}

.title {
    margin: 0;
    font-size: 8em;
    color: white;
    opacity: 2;
}

/*Section Area*/

.courseSection{
    display: flex;
    background-color: #5174cf;
    
}

#courseSImage{
    width: 45%;
    min-height: 600px;
    background-size: cover;
}

#courseSdiv{
    padding: 5%;
    color:white;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}
#courseSdiv a{
    text-decoration: none;
    color: white;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    
}

#courseSdiv a:hover{
    background-color: lightblue;
}

/*Footer*/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px;
}

.footerInfo{
    display: block;
}